@import '../../../variables';

.container {
  overflow-x: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  .withtitle {
    height: 40px;

    @media screen and (max-width: $m-width) {
      display: none;
    }
  }
  .swiper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}
