.badge {
  display: inline-block;
  padding: 2px 12px 2px 12px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.red {
  border: 1px solid #ef5350;
  color: #d50000;
}
.green {
  border: 1px solid #4caf50;
  color: #4caf50;
}
.blue {
  border: 1px solid #304ffe;
  color: #304ffe;
}
