.container {
  &:hover {
    cursor: pointer;
  }
  position: relative;
}

.label {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 4px 12px;
  border: 1px solid #e5e9ff;
  border-radius: 6px 6px 0px 0px;
  font-size: 12px;
  line-height: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid transparent;
  &.close {
    border-radius: 6px;
    border-bottom: 1px solid #e5e9ff;
  }
  &.empty {
    color: #c6cfff;
    font-weight: 400;
  }
}

.bird {
  background-image: url('../../../assets//icons/Vector.svg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  height: 24px;
  width: 23px;
  transition: transform 250ms;
  &.close {
    transform: rotate(0deg);
  }
  &.open {
    transform: rotate(180deg);
  }
}

.optionContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  max-height: 188px;
  overflow: hidden auto;
  border-right: 1px solid #e5e9ff;
  border-bottom: 1px solid #e5e9ff;
  border-left: 1px solid #e5e9ff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  &.closed {
    max-height: 0px;
    border: none;
  }
}

.option {
  padding: 4px 4px 4px 12px;
  font-size: 12px;
  line-height: 24px;
  background-color: #ffffff;
  border-top: 1px solid rgb(237, 237, 237);

  &:hover {
    background-color: #5e81f4 !important;
    color: white;
  }

  &.current {
    background-color: #ecf0ff;
    color: black;
  }
}
