@import '../../../variables';

.icon {
  background-position: center; /* Center the image */
  background-repeat: no-repeat;

  @media screen and (min-width: $m-width) {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #f6ebff;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: $m-width) {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #a337ff;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.portfolio {
  @media screen and (min-width: $m-width) {
    background-image: url('../../../assets/icons/portfolio_c.svg');
  }
  @media screen and (max-width: $m-width) {
    background-image: url('../../../assets/icons/portfolio_w.svg');
  }
}

.diff {
  @media screen and (max-width: 600px) {
  }
  @media screen and (min-width: 600px) {
  }
}
