@import '../../../variables';

.container {
  .data {
    @media screen and (min-width: $m-width) {
      display: flex;
    }

    .chart {
      position: relative;
      padding: 20px 0px 20px 0px;

      .balance {
        display: inline-block;
        position: absolute;
        top: 50%; /* position the top  edge of the element at the middle of the parent */
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 30px;
        font-weight: bold;
      }
    }
    .table {
      flex-grow: 2;
      padding: 20px 0px 20px 0px;
      color: #455a64;
      .row {
        display: flex;
        padding: 8px;
        border-bottom: 1px solid #eeeeee;
        // justify-content: space-between;
      }
      .cl1 {
        flex-grow: 1;
      }
      .cl2 {
        flex-grow: 1;
        text-align: right;
      }
      .cl3 {
        flex-grow: 1;
        text-align: right;
      }

      @media screen and (min-width: $m-width) {
        padding-left: 40px;
      }
    }
  }
}
